//Variables

//Fonts
$body-font: 'Open Sans', sans-serif;

//Colours
$blue: #00BFFF;
$light-blue: #E5F9FF;

//Padding & Margins

$main-spacing: 1.5rem;

//Transitions

$main-transition: 0.5s ease-in-out;