.library {
  background-color: $light-blue;
  box-shadow: 2px 0px 10px gainsboro;
  // padding: 0 $main-spacing;
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  overflow: scroll;
  transform: translateX(-100%);
  transition: $main-transition;
  opacity: 0;
}

.library-song {
  margin: $main-spacing;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

  img {
    width: 5rem;
  }
}

.library-song:hover {
  background-color: white;
  cursor: pointer;
}

.selected {
  background-color: $blue;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

.library-song-text {
  h4, p {
    margin: 0 $main-spacing;
  }

  p {
    font-size: 1.4rem;
  }
}

*{
  scrollbar-width: thin;
}