//Song Information

.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: $main-spacing *2;
  }
  
  img {
    width: 30rem;
    border-radius: 50%;
  }
}